.main-page
{
	/*margin:0px 200px 0px 200px;*/
}
  .width
  {
  	/*width:1420px;*/
  }
	.page-sec-1
	{
		height: 870px;
	}
		.header
		{
			background-color: #2E3538;
			height:35px;
			padding-top: 8px;
		}
			.social-icons
			{
				float: left;
				padding-left: 50px;
			}
			.social-icons ul
			{
				list-style-type: none;
				padding:0px;
				margin-top: 0px;
			}
				.icon-circle
				{
					float: left;
					width:20px;
					height: 20px;
					color:white;
					background-color: black;
					border-radius:10px;
					padding-left:5px;
					margin-right: 5px;
				}
				.clr-1:hover 
				{
					background-color:blue;
				}
				.clr-2:hover 
				{
					background-color:gray;
				}
				.clr-3:hover 
				{
					background-color:red;
				}
				.clr-4:hover
				{
					background-color:#22B7E2;
				}
			.contact
			{
				float: right;
				color:white;
				padding-right: 50px;
			}
				.cont-icon
				{
					padding-left: 15px;
					text-decoration: none;
					color: white;
				}
				.cont-text
				{
					padding-left:8px;
					text-decoration: none;
					color: white;
					font-weight: bold;
				}
			
		.head-title
		{
			background-color: #FCFCFC;
			height:80px;
		}
			.title
			{
				float:left;
				text-align: center;
				line-height: 0px;
				padding-left: 140px;
			}
				.title h4
				{
					/*font-family:;*/
					font-size: 25px;
					color:#0AAFDF;
					line-height: 0px;
				}
					.span-1
					{
						color:#0AAFDF;
					}
					.span-2
					{
						color:#CDCDCD;
					}
				.title p
				{
					/*font-family:;*/
					font-size: 15px;
					color:black;
					line-height: 0px;
				}

			.nav
			{	
				padding-left:425px;
				padding-top:10px;
			}
				.menu
				{
					list-style: none;
				}
				.menu-list
				{
					float:left;
					color:black;
					padding-left:30px;
					font-family:Verdana, sans-serif;
				}
				.menu-list:hover
				{
					color:#0AAFDF;
				}
				.menu-list:hover .fa-sm
				{
					color:#0AAFDF;
				}
				.fa-sm 
				{
					padding-left: 1px;
					font-size: 1px;
					line-height: 1px;
					vertical-align: -15%;
					color:#E0D5D1;
				}
				.nav-class > ul > li 
				{
				    float:left;
				    display:inline-block;
				    position:relative;
				    font-size:16px;
				}				 
				.nav-class li:hover .menu-sub 
				{
					color:#0AAFDF;
					background-color: white;
					z-index:2;
					width:150px;
					padding-top:10px;
				}
				.menu-sub
				{
				    width:160%;
				    padding:5px 0px;
				    position:absolute;
				   	top:100%;
				    left:0px;
				    z-index:-1;
				}
				.menu-sub li
				{
				    display:block;
				    font-size:16px;
				}
				.menu-sub li:hover
				{
					background-color:#F9F9F9;
				}				 
				.menu-sub li a 
				{
				    padding:5px 20px;
				    display:block;
				    text-decoration: none;
				    color:black;
				}
				.menu-sub-list
				{
					color:black;
					text-decoration: none;
					padding:0px 10px 10px 10px;
				}
					.cont-btn
					{
						background-color: #0AAFDF;
						padding:5px 10px;
						border-radius: 5px;
						border-width: thin;
						margin-top:-5px;
					}
					.contus-icon
					{
						padding-left: 3px;
						text-decoration: none;
						color: white;
					}
				
		.lap-img
		{
			clear: both;
			height:650px;
			background-image: url("img/1d.jpg") ;
			z-index: -2;
		}
			.img-1
			{
				height:650px;
				background-color: black;
				z-index: 1;
				opacity:0.4;
			}
		.head-foo
		{
			background-color: #373737;
			height:100px;
		}
			.title-2
			{
				float:left;
				padding: 8px 140px ;
				color:white;
				font-size: 25px;
				font-family:Raleway,sans-serif;;	
			}
			.learn
			{
				float:right;
				padding:25px 140px;
				margin-bottom: 0px;
			}
				.learn-btn
				{
					height: 50px;
					width:180px;
					background-color: #0AAFDF;
					padding:5px;
					border-color: #0AAFDF;
					border-radius: 5px;
					border-width: thin;
				}
				.learn-text
				{
					padding-left:8px;
					text-decoration: none;
					color: white;
					font-weight: bold;
					font-size: 18px;
					font-family:Raleway,sans-serif;
				}

	.core
	{
		height:500px;
		clear:both;
		padding-top: 30px;
		padding-bottom: 20px;
		background-color: #F9F9F9;
	}
		.core-img
		{
			float:left;
			/*padding: 0px 20px ;*/
			padding: 0px 0px ;

		}
		.core-features
		{
			margin-left: 100px;
			float:left;
			/*width :620px;*/
			width :500px;
			height: 480px;
		}
			.core-features h2,h3
			{
				font-family:sans-serif;
				font-weight: normal;
			}
			.core-features span
			{
				font-family:sans-serif;
				font-weight: bold;
			}
			.para
			{
				text-align: left;
			}
			.core-list
			{
				list-style-type: none;
				padding:0px;
			}
			.font
			{
				font-family: Raleway,sans-serif;
			}
			.core-list li
			{
				padding-left:0px;
			}
			.core-list span
			{
				position:absolute;
			}
			.core-list p,h3
			{
				margin-left: 55px;
			}
			.list-border
			{
				border-style: none none ridge none;
			}
				.list-border-1
				{
				border-image: linear-gradient(to right, black 0%, #E4E4E4 100%);
    			border-image-slice: 1;
    			border-width: thin;
				}
	.amazing
	{
		height:450px;	
	}
		.amazing-img
		{
			background-image: url("img/3c.jpg") ;
			z-index:-2;
		}
		.img-2
		{
			height:450px;
			background-color: black;
			z-index: 2;
			opacity:0.8;
		}
		.amazing-layer
		{
			z-index:6;
			background-color: black;
		}
		.phn-img
		{
			padding:50px 0px 0px 0px ;
			z-index: 8;
		}
		.phn-img img
		{
			border-radius: 60px;

		}
		.para-1
		{
			text-align: center;
			color:white;	
		}
		.amazing-para
		{
			padding-left: 340px;
			width:600px;
		}
		.list-border-2
		{
			border-image: linear-gradient(to right,black 5%, #E4E4E4 60%, black 100%);
			border-image-slice: 1;
			border-width: thin;
		}

	.simply
	{
		height:500px;
		padding:30px 0px;
		background-color: #F9F9F9;
	}
		.simply-amazing
		{
			padding: 10px 20px 0px 20px;
			float:left;
			width:500px;
		}
		.simply-list
		{
			list-style-type: none;
			padding-right: 20px;
		}
		.simply-list span
		{
			padding-left:10px;
		}
		.list-border-3
		{
/*			-webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
		    -webkit-border-image: -webkit-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
		    -moz-border-image: -moz-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;  
		    -o-border-image:-o-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
		    border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%; */
			border-image: linear-gradient(to left, black 0%, #E4E4E4 100%);
			border-image-slice: 1;
			border-width: thin;
		}
			.para-2
			{
				text-align: right;
			}

		.simply-img
		{
			padding-right: 140px;
			float:right;

		}

	.sign-up-now
	{
		height:1000px;
		background-color: #FFFFFF;
	}
		.signup
		{
			width:600px;
			padding: 0px 0px 0px 380px;
		}
			.para-3
			{
				text-align: center;
				color: black;
			}
		.purchase-table
		{
			padding:40px 100px 40px 230px;
		}
			.table-1
			{
				margin: 20px 10px 10px 0px;
				float: left;
				width:220px;
				height:600px;
				background-color: #F9F9F9;
			}
			.table-2
			{
				margin: 0px 10px 0px 0px;
				float: left;
				width:220px;
				height:640px;
				background-color: #F9F9F9;
			}	
				.table-padding
				{
					padding: 20px 50px;
				}
				.bottom-line
				{
					border-style:none none solid none;
					border-bottom-color: #FCFCFC;
				}
				.tab-1
				{
					border-collapse: collapse;
				}
					.semi-cir-top
					{
						width:120px;
						height: 60px;
						background-color: #373737;
						color:white;
						border-top-left-radius: 60px;
						border-top-right-radius:60px;
					}
					.semi-cir-bottom
					{
				
						width:120px;
						height: 60px;
						background-color: #4B4B4B;
						color:white;
						border-bottom-left-radius: 60px;
						border-bottom-right-radius: 60px;
					}
					.cir-top
					{
						width:120px;
						height: 60px;
						background-color: #0AAFDF;
						color:white;
						border-top-left-radius: 60px;
						border-top-right-radius:60px;
					}
					.cir-bottom
					{
					
						width:120px;
						height: 60px;
						background-color: #22B7E2;
						color:white;
						border-bottom-left-radius: 60px;
						border-bottom-right-radius: 60px;
					}
				.list-table
				{
					width:220px;
				}
				.list-table td
				{
					height: 45px;
				}
				.list-table-1 
				{
					width:220px;
				}
				.list-table-1 td
				{
					height: 50px;
				}
					.list
					{
						text-align: center;
						text-decoration: none;
						border-style:none none solid none;
						border-color: #FCFCFC;
					}
					.btn
					{
						margin:15px 50px 20px 50px;
						padding:10px 0px 10px 0px;
						background-color: #373737;
						border-radius: 30px;
						width:120px;
						text-align: center;
						color:white;
					}
					.btn-1
					{
						margin:10px 50px 20px 50px;
						padding:10px 0px 10px 0px;
						background-color: #0AAFDF;
						border-radius: 30px;
						width:120px;
						text-align: center;
						color:white;
					}
			.symbol
			{
				clear:both;
				margin:100px 100px 50px 150px;
				padding:80px 100px 0px 200px;
			}
			.purchase-foo
			{
				height:100px;
				background-color: #323232;
				margin:0px;
			}
				.purchase-btn
				{
					float:right;
					margin:25px 140px;
					border-style: solid;
					border-color: white;
					background-color: black;
					border-width: 0px;
					border-radius: 5px;
				}
				.purchase-btn-1
				{
					/*background-color: black;*/
					text-decoration: none;
					padding:10px;
					border-style: solid;
					border-color: white;
					background-color: #323232;
					border-width: 1px;
					border-radius: 5px;
				}
	.footer
	{
		clear:both;
		height:350px;
		padding:20px;
		margin:20px;
	}
		.foo-para
		{
			width:600px;
			padding: 0px 0px 0px 335px;
		}
			.foo-icon
			{
				padding-left: 15px;
				text-decoration: none;
				color: #0AAFDF;
			}
			.foo-icon-spc
			{
				padding-left:4px;
				text-decoration: none;
				color: black;
			}		
		.foo-social-icons
		{
			margin:20px 0px 40px 455px;
			padding:20px;
		}
		.foo-social-icons ul
		{
			list-style-type: none;
			padding:0px;
			margin-top: 0px;
		}
		.cir
		{
			width:20px;
			height: 20px;
			padding:10px;
			border-style: solid ;
			background-color: white;
			border-color: black;
			border-radius: 50px;
			border-width: thin;
			float :left;
			margin-left:10px;
		}
		.cir-i
		{
			padding-left:3px;
		}
		.copyrite
		{
			border-style: solid none none none;
			border-image: linear-gradient(to right,#E4E4E4 5%, black 60%, #E4E4E4 100%);
    		border-image-slice: 1;
    		border-width: thin;
			text-align: center;
			margin-left: 385px;
			margin-top: 30px;
			width:500px;
		}